html, body{
  margin: 0px;
  padding: 0px;
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.input-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-output{
  display: flex;
  gap: 1rem;
}
.image-box{
  width: 40rem;
  height: 40rem;
}
.cropped-image-box{
  display: grid;
}
.download-btn, button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background-color: rgb(31, 20, 113);
  border-radius: 5px;
  color: rgb(246, 241, 241);
  
}
button{
  outline: none;
  border: none;
  margin-top: 10px;
}
:hover.download-btn{
  box-shadow: 5px 5px 10px #333;
}
:hover.button{
  box-shadow: 5px 5px 10px #333;
}

